<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mostly-Benevolent Infection</title>

    <link href="/static/main.css" rel="stylesheet">

</head>
<body>

    <div id="container"></div>

    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/d3-3.5.5.min.js"></script>
    <script src="/static/react-0.13.3.min.js"></script>
    <script src="/static/JSXTransformer-0.13.3.js"></script>
    <script src="/static/graph.jsx" type="text/jsx"></script>

</body>
</html>
